// Common styles
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure, dl, dt, dd { 
	margin:0; 
	padding:0; }

body {}
input:focus, 
button:focus, 
select:focus, 
a:focus, 
a:focus img, 
textarea:focus, 
:focus {
	outline:none;
	text-decoration:none; }

textarea {
	resize:none; }

img { vertical-align:middle; max-width:100%;}
a {}
a, a:focus, a:hover{text-decoration:none;}
input[type="text"], input[type="submit"], 
input[type="password"] { 
	display:block; 
	-webkit-appearance:none;  }

input[type="submit"] { 
	text-align:center; }

ol, ul { 
	list-style:none;
	
		li { 
			list-style-type:none; }
	 }

.clear { 
	clear:both; }

.floatL { 
	float:left; }

.floatR {
	float:right; }

.text-center { 
	text-align:center; } 

.text-right { 
	text-align:right; }

.text-left { 
	text-align:left; }

.text-uppercase { 
	text-transform:uppercase; }

// Clearfix
.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
.m_bottom{
	margin-bottom: 10px;
}
.m_top{
	margin-top: 10px;
}
.p_bottom{
	padding-bottom: 10px;
}
.p_top{
	padding-top: 10px;
}
.block{ 
	display: block; }

// Type
p { 
	padding-bottom:15px;
	font-size:18px;
	font-family: $subfont; }

.center-block {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-left:0px;
  padding-right:0px; }

.row .center-block {
	padding-left:15px;
	padding-right:15px; }

html { 
	background-color:$white; 
	// min-height: 100vh;
}

body { 
	background-color:$white-semi; 
	color:$secondary; 
	font-family:$bodyfont;
	font-size:$size; 
	font-weight:$wgt; 
	line-height:$line; 
	opacity:0;
	// height: 100vh; 
}

// Setup the function in your functions or helpers files, wherever you keep these bits.
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

// Then call it with the rules/styles you want wherever you want (As long as the file/include has access to the above function of course).
#{headings(1,6)} {
  color: $secondary;
}

#{headings(1,3)} {
  margin-bottom:5px;
  padding-bottom:15px;
  // color:$primary;
}

h1 { color:$primary; font-weight: bold; font-size: 36px;}
h2 { font-size: 30px; font-family:$subfont;}
h3 { font-size: 26px;}
h4 {}
h5 {}
h6 {}


// Media Quries

$break-lg: 1200px;
$break-md: 992px;
$break-sm: 768px;
$break-xs: 767px;

// Example: @media (min-width: $break-lg) { }
//          @media (min-width: $break-md) { }
//          @media (max-width: $break-sm) { }
//          @media (max-width: $break-xs) { }


.btn {
	background-color:$primary;
	@include border-radius(50px);
	color:$white;
	font-size:16px;
	padding:5px 15px;
	border:2px solid transparent;

	&:focus, &:hover, &.active {
		// outline: thin dotted;
  		// 	outline: 5px auto -webkit-focus-ring-color;
  		// 	outline-offset: -2px;
  		background-color:rgba($primary, 0.1);
  		color:$primary;
  		@include transition(background-color .3s ease);
  		border-color:rgba($primary, 1);
	 } // .btn:focus
	
	} // .btn

	a.btn {
		border-width:1px;
	}

	.btn-lg {
	  padding: 10px 26px;
	  font-size: 18px;
	  line-height: 1.33;
	}
	.btn-sm {
	  padding: 5px 20px;
	  font-size: 12px;
	  line-height: 1.5; }
	.btn-xs {
	  padding: 1px 10px;
	  font-size: 12px;
	  line-height: 1.5; }
	.btn-block {
	  display: block;
	  width: 100%;
	  padding-right: 0;
	  padding-left: 0; }
	.btn-block + .btn-block {
	  margin-top: 5px; }

	.full-radius{ 
		@include border-radius(50%);
	}

// Transitions


// bg colors

.bg-white {
	background-color:$white;
	@include clearfix;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

a { 
	color:$primary; 
	@include transition(color .3s ease);
	&:hover { 
		color:$black; }
}

// Cross browser opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
} // usage
  //  @include opacity(0.8);

.test { border:1px solid $red; @include clearfix;}

// Listing
.listing {
	li {
		&:before {
			font-family:'FontAwesome';
			content:'\f101';
			font-size:$fa-font-size-base;
			line-height: $fa-line-height-base;
			margin-right: 25px;
		}

		// font-size:16px;
	}
}

// Check Box
.ui-helper-hidden-accessible { display: none;}
.ui-checkboxradio-label {
	svg, img { 
		max-width:30px;
	}
} 
// Radio Box

// Toogle

.accordion.ui-accordion {
	
	.ui-accordion-icons { 
		padding-left:0; } // ui-accordion-icons

	.ui-accordion-header { 
		border:0; 
		border-bottom:1px solid $primary; 
		position: relative; 
		cursor: pointer;  
		outline:none; 

		&:after {
			content:'\f204'; color:$primary; 
			font-family:'FontAwesome';
			font-size:$fa-font-size-base;
			line-height: $fa-line-height-base;
			position:absolute; 
			right:15px;
			top:15px
		} // ui-accordion-header:after
	} // ui-accordion-header

	.ui-accordion-header-active.ui-accordion-header:after { 
		content:'\f205'; } // ui-accordion-header-active.ui-accordion-header:after

	.ui-accordion-content { 
		padding:15px 0 0; } // ui-accordion-content
} // accordion.ui-accordion


// data-role="tab"

[data-role="tab"] {
	padding:15px;
	ul {
		@include clearfix;
		padding:0 15px;
		border-bottom:1px solid rgba($secondary, 0.5);
		margin-bottom: 15px;
		li {
			// border:1px solid $primary;
			// background-color: rgba($primary, 0.5);
			display: inline-block;
			margin:0 5px -1px -2px;
			padding:5px 0;
			@include border-top-radius(5px);
			// @include border-right-radius(5px);
			border-bottom:6px solid transparent;
			a {
				padding:0 15px;
				color:$secondary;
				font-weight:normal;

			}

			&.ui-state-active {
				// background-color: rgba($primary, 0.8);

				// border-color: $primary;
				position: relative;

				a {
					color:$primary;
				}

				&:before {
					content:"";
					width:60%;
					margin:0 auto;
					height:6px;
					background:$primary;
					position: absolute;
					bottom: -6px;
					left: 0;
					right: 0;
				}

			}
		}
	}
}

// input Radio, Checkbox

.custom-radio, .custom-checkbox { 
	position:relative; 
	padding-right:35px;
	cursor: pointer;

	&:after { 
		content:""; 
		width:18px; 
		height:18px; 
		background-color:rgba($primary, 0); 
		border:3px solid rgba($primary, 1); 
		@include border-radius(50%);
		position:absolute; 
		right:10px; 
		top:3px;
	}
}

.ui-state-active.custom-radio:after,
.ui-state-active.custom-checkbox:after { 
	background-color:rgba($primary, 1); 
	border:3px solid rgba($primary, 1); 
	// @include border-shadow(inset 0 0 0px 2px $white);

	box-shadow: inset 0 0 0px 2px $white;
	-webkit-box-shadow: inset 0 0 0px 2px $white;
	-moz-box-shadow: inset 0 0 0px 2px $white;
}

.custom-checkbox { 
	&:after { 
		@include border-radius(0%);
	}
}


// Pagination Start

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 5px 0;
  border-radius: 4px;

  li:first-child,
  li:last-child{
  	a {
  		color:$secondary;


  		&:hover {
  			background-color:transparent;
  			color:$primary;
  		}
  	}
  }

  li {
  	display: inline-flex;
  	margin-right: 5px;
  	cursor: pointer;

	  &.active {	  	
	  		z-index: 2;
			color: $white;
			// cursor: default;
			background-color: $primary;
			@include border-radius(50%);	
			padding: 6px 14px;
		margin-left: -1px;
		line-height: 1.428571429;
	  }

  	a {
		position: relative;
		float: left;
		padding: 6px 14px;
		margin-left: -1px;
		line-height: 1.428571429;
		color: $primary;
		text-decoration: none;
		// background-color: $white;
		cursor: pointer;

		&:hover, &.active {
			z-index: 2;
			color: $white;
			// cursor: default;
			background-color: $primary;
			@include border-radius(50%);
		} // paginatation :hover
  	} //  pagination a


  } // pagination li

} // Pagination End


// custom form elements Start
form {

	.error  {

		position: relative;
		
		label + * {
			border:1px solid $red;
			@include border-bottom-right-radius(0px);

			&:focus {
				border:1px solid $red;	
			} // label:focus
		} // label

		&:after {
			content:attr(data-error);
			color:$white;
			background-color:$red;
			float: right;
			padding:0 15px;
  			font-size:0.8em;
  			font-weight:normal;
			@include border-bottom-left-radius(3px);
			@include border-bottom-right-radius(3px);
			position: absolute;
			right: 15px;
			bottom: -24px;
		} // error:after

	} // error

	[required]:after {
		content:"*";
		color:$red;
		padding-left: 5px;
	}

}


.breadcrumbs { // breadcrumbs
	background-color: rgba($yellow, 0.1);
	padding:15px 35px;
	border-top: 1px solid rgba($yellow, 0.3);
	border-bottom: 1px solid rgba($yellow, 0.3);
	margin-bottom: 25px;

	a {
		&:after {
			content:" / ";
			padding:0 15px;
			color:$secondary;
		} // breadcrumbs a:after

		&:last-child {
			color:$secondary;
			pointer-events:none;

			&:after {
				display: none;
			}  // breadcrumbs a:last-child:after
		}  // breadcrumbs a:last-child
	} // breadcrumbs a
} // breadcrumbs

// blue-mate

.blue-mate {
	margin-top: -25px;
	padding:25px 35px;
	background-color: rgba($primary, 0.1);
}



[capsOn] {	
	text-transform:uppercase }
[capsOff] {	
	text-transform:lowecase }

[align="right"] { 
	text-align:right !important}

[align="left"] { 
	text-align:left !important}


[align="left"].custom-radio, 
[align="left"].custom-checkbox {  
	padding-left:35px;
	
	&:after {
		right:inherit; left:0px;
	} // after
} // [align="left"].custom-radio


.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: rgba($secondary, 0.1)
}


.table-action {
  margin:0 3px;

  .trash {
  	color:$red; }

  .eye {
  	color:$primary  }
  .edit { 
  	color:$secondary}

}

  
 .file-upload {
 	width: 120px;
 	height: 120px;
 	position: relative;
 	img {
		@include border-radius(50%);
		min-width:120px;
		max-width:120px;
		min-height:120px;
		max-height:120px;
		border:3px solid rgba($secondary, 0.3)


 	}

 	#upload-src {
		display:inline-block;
		width:40px;
		height:40px;
		@include border-radius(50%);
		background-color:rgba($white, 0.8);
		text-align: center;
		position:absolute;
		right:0;
		bottom:0;
		cursor: pointer;

		&:before {
			font-family:'FontAwesome';
			content:$fa-var-camera;
			font-size:20px;
			line-height:40px;
			color:$primary;
		}

		input {
			opacity:0;
		    z-index: 2;
		    width:100%;
		    height:100%;
		    margin-top:-40px;
		}
 	}

 }

// custom form elements End

/*Suresh 00258*/

.action-buttons{
  background-color: rgba($yellow, 0.1);
    padding: 15px 35px;
    border-top: 1px solid rgba($yellow, 0.3);
    border-bottom: 1px solid rgba($yellow, 0.3);
    margin-bottom: 25px;
}

#simple_search_button{ 
	border-radius:0; 
	padding:5px 8px
}
.top-lisiting-search div{ 
	padding-right:0; 
	padding-left:5px; }
.entry-text{
	font-size: 14px; }

.clear-text {
    display: inline-block;
    margin-top: 10px !important;
    font-size: 14px; }

.blue-mate {
	margin-top: -25px;
	padding:25px 35px;
	background-color: rgba($primary, 0.1); }

.advanced-search .btn{
	border-radius:0; 
	padding:5px 25px 5px 10px;
	background: $white;
	color: $secondary; }

.show-entry {
    display: inline-block;
    margin-top: 8px; }

.advanced-search .btn:hover{
	border-color:transparent;
	padding:5px 25px 5px 10px; }

.show-records{
	margin-top: 15px;
	margin-bottom:5px; }

.advanced-search .caret {
    margin: 0 0 0 10px; }

.login-page {
	background: #eee url(../images/bg.png);
	position: relative;
	z-index: 1;
	height:100vh; }


.login-container {
	position: relative;
	width: 300px;
	margin: 95px auto;
	padding: 10px 40px 30px;
	text-align: center;
	background: #fff;
	border: 1px solid #ccc;

	&:before, &:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 3.5px;
		left: 0;
		background: #fff;
		z-index: -1;
		-webkit-transform: rotateZ(4deg);
		-moz-transform: rotateZ(4deg);
		-ms-transform: rotateZ(4deg);
		border: 1px solid #ccc;
	} // .login-container:before :after

	&:after {
		top: 5px;
		z-index: -2;
		-webkit-transform: rotateZ(-2deg);
		-moz-transform: rotateZ(-2deg);
		-ms-transform: rotateZ(-2deg);
	} // .login-container:after
} // .login-container

.avatar {
	margin: 10px;
	img {
		border-radius: 100%;
	}
}


.form-box {

	input {
		width: 100%;
		padding: 10px;
		text-align: center;
		height: 40px;
		border: 1px solid #ccc;
		background: #fafafa;
		transition: 0.2s ease-in-out;

		&:focus {
		outline: 0;
		background: #eee;
		}
	} // form-box input

	input[type="text"] {
	border-radius: 5px 5px 0 0;
	font-size: 14px; } // form-box input

	input[type="password"] {
	border-radius: 0 0 5px 5px;
	border-top: 0;
	font-size: 14px; } // form-box input

	.login {
		padding: 5px 20px;
		border-radius: 3px;
	} // form-box login

	.form-group {
		margin-bottom: 15px } // form-box form-group

} // form-box



#output{
	color: #fff;
	margin-top:10px;
	background: rgb(249, 60, 96);
	padding: 3px;

	p {
		font-size:0.8em; 
		padding-bottom:0;
	} // output p
} // output

.form-box .custom-checkbox{ font-size: 15px}
// Suresh

// Timesheet
.timesheetView{ margin:15px 5px;}

.timesheet-record .input-group-btn{ 
	display: table-cell; 
	white-space:nowrap; 
	width:1%;}

.timesheet-record .form-control{ 
	display: inline-block; 
	width:50%; 
	max-width:100%;}

.timesheet-record .input-group{ 
	display: table;}

.timesheet-record .all-record{ 
	background: #f7f7f9; 
	padding:5px 10px 6px; 
	border-left:1px solid #ccc; 
  border-top:1px solid #ccc; 
  border-bottom:1px solid #ccc; 
  @include border-radius(2px);
  font-size:14px
}
.timesheetView .form-group{
	margin-bottom: 0;
}
.modal-backdrop{
	z-index: 0;
}
.all-record .caret{ margin: 0 0 0 30px}

.dropdown-content-timesheet{ 
	left:0; 
	min-width:120px; 
	right:auto;}

.record-button{
	border: 0;
	background: none;
	position: relative;
	left: -40px;
	margin-bottom: 0; 
	top:2px;
	@include border-radius(3px); 
	color: $primary;}

.record-query{ padding-right:45px;}

.employee-list{ background: $primary;}

.employee-list h2{ 
	color: $white; 
	font-size: 22px; 
	padding:10px; 
	margin-bottom:0; 
	font-weight:normal}

.employee-details{ margin: 25px}

.employee-details table tr td:nth-of-type(2n+1){ 
	background: #f5f5f5 }

.employee-list-checkbox {
     overflow: auto;
     max-height:160px;
}
.employeeView{ 
	border: 1px solid rgba($secondary, 0.3);
	margin: 5px; 
	@include border-radius(5px); }

// Timesheet 

/* Dashboard main Start */

.run-payroll {
	margin-top: 0;
	border-top:1px solid rgba($secondary, 0.2);
	border-bottom:1px solid rgba($secondary, 0.2);

	span {
		color:$primary;
		font-size:20px;
	}
}

.right-sidebar {
	background-color:$white-half;
	border-left:1px solid rgba($secondary, 0.1);
	padding: 100px 0;

	h3 {
		font-size:22px;
	}
}

.quic-nav {
	h3 {
		padding:10px 15px;
		background:rgba($secondary, 0.1);
	} 

	ul  {
		li {
			a {
				font-size:14px;
				display: block;
				padding:3px 15px;
				color:$secondary;

				&:hover {
					background-color:rgba($primary, 0.1);
					color:$primary;
				} // quic-nav li a:hover

				&:before {
					font-family:'FontAwesome';
					content: $fa-var-angle-double-right;
					font-size:$fa-font-size-base;
					line-height: $fa-line-height-base;
					margin-right: 15px;
					color:$secondary;
				}
			} // quic-nav li a

		&:hover {
			a {
				background-color:rgba($primary, 0.1)
			} // quic-nav li:hover a
		} // quic-nav li:hover

		} // quic-nav li
	} // quic-nav ul
} // quic-nav

.quick-launch {
		margin:25px 0;
		text-align: center;
	a {
		display: inline-block;
		max-width:200px;
		min-width:190px;
		margin:15px;
		background-color:$white;
		@include border-radius(5px);
		border:1px solid rgba($secondary, 0.3);
		text-align: center;
		padding:25px 0;
		box-shadow: 0px 8px 16px 0px rgba($secondary, 0.2);


		i {
				font-size:62px;
		}

		span {
				display: block;
				color:$primary;
		}
	}
}

.graph-wrapper {
	@include border-radius(5px);
	border:1px solid rgba($secondary, 0.3);
	box-shadow: 0px 8px 16px 0px rgba($secondary, 0.2);
	margin-top:15px;
	margin-bottom: 45px;

		img {
			@include border-radius(3px);
		}
	}



/* Dashboard main End */




// .container { margin:0 auto; padding-left:15px; padding-right:15px;}
@media (max-width: 1024px){
     // .container{width:auto}

     // .test {
     // 	padding: 0;
     // }

}
#working_hours{
  width:225px;
  max-width:100%;
  margin-right:10px;
}

.form-style-fake {
    position: relative;
    top: 0px;
    background: #fff;
    padding: 10px;
    color: #000;
    width: 220px;
    float: left;
    max-width: 100%;
    background: rgba($primary, 0.1);
    border-color: $primary;
}
.form-style-base{
  position:absolute;
  top:0px;
  z-index: 999;
  opacity: 0;
  width: 220px;
  max-width: 100%;
}
.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.timesheet-downbload .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}
.timesheet-downbload .btn{ 
	background: rgba($primary, 0.1);
    border:1px solid $primary; 
	color:#6a7987; 
	border-radius:3px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}
